@import "tailwindcss";

@keyframes fade-bg-color {
  from {
    background-color: var(--highlight-color) !important;
  }
  to {
    background-color: transparent !important;
  }
}

.highlight-fade-bg {
  animation: fade-bg-color 1s forwards;
}
