@import "tailwindcss";

@keyframes fade-bg-color {
  from {
    background-color: rgb(255, 239, 58);
  }
  to {
    background-color: var(--base-color);
    text-decoration-color: transparent;
  }
}

.highlight-fade-bg {
  animation: fade-bg-color 1s forwards;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}


/* These styles ONLY apply when the body has the data attribute */
body[data-ctrl-pressed="true"] .ctrl-clickable {
  cursor: pointer;
}

body[data-ctrl-pressed="true"] .ctrl-clickable:hover {
  text-decoration: underline;
  color: #0066cc;
}